.about {
	padding: 150px 0 175px;
}

.about .container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 50px;
}

.badges {
	display: grid;
	row-gap: 40px;
	justify-content: center;
	align-content: center;
}

.badge {
	display: inline-flex;
	align-items: center;
	height: 90px;
	background-color: var(--background-color);
	border-radius: 45px;
}

.badge:nth-child(1),
.badge:nth-child(3) {
	margin-right: 100px;
}

.badge:nth-child(2) {
	margin-left: 100px;
}

.badge .icon {
	box-sizing: border-box;
	width: 90px;
	height: 90px;
	background: #fff;
	border: 8px solid var(--background-color);
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
}

.badge .icon img {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	padding: 10px;
	object-fit: contain;
}

.badge .title {
	font-size: 30px;
	font-weight: 600;
	width: 300px;
	text-align: center;
}

@media (max-width: 1460px) {
	.about .container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 1399px) {
	.badge {
		height: 70px;
		border-radius: 35px;
	}

	.badge:nth-child(1),
	.badge:nth-child(3) {
		margin-right: 75px;
	}

	.badge:nth-child(2) {
		margin-left: 75px;
	}

	.badge .icon {
		width: 70px;
		height: 70px;
		border-width: 6px;
	}

	.badge .title {
		font-size: 24px;
		width: 250px;
	}
}

@media (max-width: 991px) {
	.about {
		padding: 100px 0;
	}

	.badge:nth-child(1),
	.badge:nth-child(3) {
		margin-right: 25px;
	}

	.badge:nth-child(2) {
		margin-left: 25px;
	}
}

@media (max-width: 767px) {
	.about {
		padding: 50px 0;
	}

	.about .container {
		grid-template-columns: 1fr;
		gap: 50px;
	}

	.badge:nth-child(1),
	.badge:nth-child(3) {
		margin-right: 30px;
	}

	.badge:nth-child(2) {
		margin-left: 30px;
	}

	.badge .title {
		font-size: 20px;
		width: 200px;
	}
}

@media (max-width: 575px) {
    .badge {
		margin: 0 !important;
	}

	.badge .title {
		width: 175px;
	}
}