.home-about {
	padding: 100px 0;
	padding-bottom: 0;
	background: #181818;
	position: relative;
}
.parallax_about {
	position: absolute;
	right: 15%;
	top: -15%;
}
.parallax_about-two {
	right: 0%;
	top: 10%;
}
.img_about {
	width: 15vw;
	height: auto;
	transform: none;
	transition: transform 1s ease-out;
	will-change: transform;
}
.abt_img,
.abt_info {
	display: flex;
	align-items: flex-end;
}
.abt_img {
	background: url('/images/me-v2.png');
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}
.abt_info {
	padding: 70px 10px;
}
.abt_info_name {
	font-size: 2.7rem;
}
.abt_info_job {
	font-weight: lighter;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 30px;
	color: #aaa;
}
.abt_info p {
	font-size: 20px;
	margin-bottom: 15px;
}

.img-portrait {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	background: url('/images/background.jpg');
	border: 5px solid #fff;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

@media(max-width: 767px){
    .home-about{
        padding: 50px 0;
    }
    .abt_info{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    .parallax_about-two{
        display: none;
    }
    .parallax_about{
        right: 7%;
        width: 50%
    }
    .parallax_about img{
        width: 100%;
    }
    .abt_img{
        align-items: center;
        background: none;
    }
    .abt_img_portrait{
        min-height: 250px;
        min-width: 250px;
        margin: 0 auto;
        border-radius: 50%;
        border: 3px solid #fff;
        padding: 0;
        background: url('/images/me2.jpg');
        background-size: contain;
        background-position: center;
        line-height: 1;
        white-space: nowrap;
        display: block;
        position: relative;
        width: 80%;
        
    }
    .abt_img_portrait:before{
        content: '';
        display: inline-block;    
        vertical-align: middle;
        padding-top: 100%;
        height: 0;
    }
    .abt_info p{
        font-size: 1.3rem;
    }
}
@media(max-width: 991px){
    .abt_info{
        padding-bottom: 30px;
    }
    .abt_info_summary{
        font-size: 1rem;
    }
}
@media(min-width: 992px){
    .abt_info{
        padding-top: 200px; 
    }
}
@media(min-width: 1200px){
    .abt_img_portrait{
        display: none;
    }
}


/****** BADGES *********/
.badges {
    display: flex;
    margin: 10px 0 35px;
    gap: 15px;
    flex-wrap: wrap;
}

.badges .badge {
    background: #434343;
    padding: 7px 12px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.badges .badge img {
    margin-right: 10px;
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 0;
}