.about {
	padding: 150px 0 175px;
}

.about .container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 50px;
}

.badges {
	display: grid;
	row-gap: 40px;
	justify-content: center;
}

.badge {
	display: inline-flex;
	align-items: center;
	height: 90px;
	background-color: var(--background-color);
	border-radius: 45px;
}

.badge:nth-child(1),
.badge:nth-child(3) {
	margin-right: 100px;
}

.badge:nth-child(2) {
	margin-left: 100px;
}

.badge .icon {
	box-sizing: border-box;
	width: 90px;
	height: 90px;
	background: #fff;
	border: 8px solid var(--background-color);
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
}

.badge .icon img {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	padding: 15px;
	object-fit: contain;
}

.badge .title {
	font-size: 30px;
	font-weight: 600;
	width: 300px;
	text-align: center;
}