@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");


:root {
	--primary-color: #252D40;
	--secondary-color: #13BDED;
	--body-color: #333333;
	--light-body-color: #BBBBBB;
	--background-color: #F8F8F8;

	--deckgo-highlight-code-carbon-box-shadow: none;
	--deckgo-highlight-code-font-size: 16px;
	--deckgo-highlight-code-carbon-header-padding: 0;
	--deckgo-highlight-code-carbon-toolbar-display: none;
	--deckgo-highlight-code-margin: 16px 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font: 400 20px/1.8 "Open Sans", sans-serif;
	color: #333;
	margin: 0;
}

h1, h2 {
	color: var(--primary-color);
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 68px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}

section {
	overflow: hidden;
	margin: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:active,
a:hover {
	text-decoration: none;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.section-heading {
	padding-bottom: 15px;
	margin-bottom: 58px;
	position: relative;
}

.section-heading:before {
	content: '';
	width: 75px;
	height: 5px;
	background: var(--secondary-color);
	position: absolute;
	bottom: 0;
	left: 0;
}